.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items:center;
  padding: 10px 20px;
}

.box{
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items:center;
  padding: 10px 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.6;
  max-width: 800px;
  color: #333;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

p:hover {
  transform: scale(1.02);
}

